@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;600;700;800&display=swap');
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Unbounded', system-ui, -apple-system;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: #ffff;
  background-color: $background-color;
}

@font-face {
  font-family: 'Akira';
  src: url('../fonts/Akira\ Super\ Bold.ttf');
}

input {
  background: #2b2b2b;
  border-radius: 8px;
  padding: 15px 12px;
  color: #fff;
  outline: none;
  width: 95%;
  box-shadow: none;
  border: 2px solid #ced6e000;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    border-color: #3d9cff;
  }

  &:focus {
    box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
  }
}

.logo {
  font-family: 'Akira', 'Unbounded', system-ui, -apple-system;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  margin: auto;
  // padding-top: 20px;
  background: url(),
    radial-gradient(
        60.25% 122.24% at 103.28% -41.67%,
        #fdc2b0 0%,
        rgba(235, 81, 158, 0.25) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        80.74% 163.82% at -1.23% -17.59%,
        #5af8fe 0%,
        rgba(235, 81, 158, 0.25) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        49.18% 100.93% at 77.87% 111.11%,
        rgba(137, 59, 254, 0.85) 0%,
        rgba(128, 187, 219, 0.2125) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #4edffc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  // text-fill-color: transparent;
  background-blend-mode: overlay, normal, normal, normal, normal;
}

.button {
  // margin-top: 15px;
  margin-block: 25px;
  padding: 10px;
  text-align: center;
  width: 80%;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  background: url(.png),
    radial-gradient(
        60.25% 122.24% at 103.28% -41.67%,
        #fdc2b0 0%,
        rgba(235, 81, 158, 0.25) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        80.74% 163.82% at -1.23% -17.59%,
        #5af8fe 0%,
        rgba(235, 81, 158, 0.25) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        49.18% 100.93% at 77.87% 111.11%,
        rgba(137, 59, 254, 0.85) 0%,
        rgba(128, 187, 219, 0.2125) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #4edffc;
  background-blend-mode: overlay, normal, normal, normal, normal;
  border-radius: 5px;
  user-select: none;
}

.text-center {
  text-align: center;
}

.error-msg {
  color: red;
  font-size: 12px;
  font-style: italic;
  transition: ease-in 0.3s;
  text-align: center;
}

.user {
  text-transform: capitalize;
}

.button:active {
  scale: 98%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  input {
    width: 400px;
  }
  .button {
    width: 280px;
  }
}
