@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;600;700;800&display=swap');
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Unbounded', system-ui, -apple-system;
}

body {
  color: #ffff;
  background-color: $background-color;
}

@font-face {
  font-family: 'Akira';
  src: url('../fonts/Akira\ Super\ Bold.ttf');
}

.logo {
  font-family: 'Akira', 'Unbounded', system-ui, -apple-system;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  margin-top: auto;
  // padding-top: 20px;
  background: url(),
    radial-gradient(
        60.25% 122.24% at 103.28% -41.67%,
        #fdc2b0 0%,
        rgba(235, 81, 158, 0.25) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        80.74% 163.82% at -1.23% -17.59%,
        #5af8fe 0%,
        rgba(235, 81, 158, 0.25) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        49.18% 100.93% at 77.87% 111.11%,
        rgba(137, 59, 254, 0.85) 0%,
        rgba(128, 187, 219, 0.2125) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #4edffc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  // text-fill-color: transparent;
  background-blend-mode: overlay, normal, normal, normal, normal;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
