
.sign-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  
  h1 {
    text-align: center;
  }
}

.sign-form {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  input {
    background: #2B2B2B;
    border-radius: 8px;
    padding: 15px 12px;
    color: #fff;
    outline: none;
    width: 95%;
    box-shadow: none;
    border: 2px solid #ced6e000;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      border-color: #3d9cff;
    }

    &:focus {
      box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
    }
  }
  label {
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    
    input {
      flex: .5;
    }

  }
  small {
    color: #525252;
    strong {
      color: #fff;
    }
  }
}